In [10]:
import sys
import os
sys.path.append(os.path.abspath("..."))

In [1]:
from typing import Dict
from src.config import (
    MONGO_CONNECTION_STRING, MONGO_DB_NAME, MONGO_COLLECTION_NAME, FRANCA_LATITUDE, FRANCA_LONGITUDE
)

from src.database.mongo_handler import MongoHandler

In [ ]:
query_especifica = {"status": "ativo"}


with MongoHandler(MONGO_CONNECTION_STRING, MONGO_DB_NAME) as mongo:
    # Passando a query como segundo parâmetro
    data = mongo.find_all(MONGO_COLLECTION_NAME)
    
    data.head()

Conexão com MongoDB estabelecida com sucesso!
Encontrados 78 documentos na coleção 'climate-data' com a query: {}
Conexão com MongoDB fechada.

In [3]:
data.head()

,_id,dia,codigo_clima,temperatura_max_c,temperatura_min_c,umidade_media_percent,indice_uv_max
0,684756cf7d9b01b92928959e,2025-03-30,95.0,28.7,18.7,75.0,NaN
1,684756cf7d9b01b92928959f,2025-03-31,80.0,26.4,19.5,84.0,NaN
2,684756cf7d9b01b9292895a0,2025-04-01,45.0,28.0,18.0,77.0,NaN
3,684756cf7d9b01b9292895a1,2025-04-02,80.0,28.7,19.6,76.0,NaN
4,684756cf7d9b01b9292895a2,2025-04-03,45.0,27.7,18.4,81.0,NaN